* {
  margin: 0;
	padding: 0;
	border: 0;
	font-size: 1em;
	font: inherit;
  box-sizing: border-box;
  vertical-align: baseline;
}

html {
  font-size: 62.5%;
}

body {
  font-family: Helvetica,'Roboto', sans-serif;
  color: #D8D8D8;
  font-size: 1em;
  background: url('./abstract-colors.jpeg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.2);
  z-index: -1;
}

a, 
li, 
.menu {
  text-decoration: none;
  color: inherit;
  transition: all 0.2s ease;
}

a:hover,
button:hover {
  cursor: pointer;
}

ol, ul {
  list-style: none;
}

body > header {
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: center;
  font-size: 2em;
  /* position: fixed;
  top: 0; */
}

nav {
  height: 100%;
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
    
header nav ul {
  display: flex;
  justify-content: space-between;
  width: 40%;
}

.logo, 
.menu {
  font-size: 1.5em;
}

li:hover,
.menu:hover {
  color: #fff;
  cursor: pointer;
}

.main-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 160px);
  position: absolute;
  top: 100px;
  z-index: -1;
}

.text-container {
  width: 40%;
}

.text-container h1 {
  font-size: 7.2em;
  font-weight: 600;
  margin-bottom: 30px;
}

.text-container p {
  font-size: 2.2em;
  line-height: 1.5;
}

.sign-up-container {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.sign-up-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sign-up-content header {
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 24px;
  font-size: 1.6em;
}

form {
  display: flex;
  flex-direction: column;
  width: 70%;
  border: 1px solid rgb(186, 186, 186);
  border-radius: 4px;
  min-width: 425px;
  margin-bottom: 24px;
  background: rgba(255, 255, 255, 0.2);
}

.input-group {
  position: relative;
}

form input {
  font-size: 1.8em;
  padding: 24px 16px 12px 16px;
  width: 100%;
  border: none;
  border-bottom: 1px solid #757575;
  background: transparent;
  color: #fff
}

.fa-eye-slash,
.fa-eye {
  position: absolute;
  top: 24px;
  right: 16px;
  font-size: 1.6em;
}

.fa-eye-slash:hover,
.fa-eye:hover {
  cursor: pointer;
  color: #fff;
}

form button {
  font-size: 1.8em;
  padding: 18px;
  background: #2C99ED;
  outline: 1px solid #2C99ED;
  color: #D8D8D8;
  border-radius: 0 0 4px;
  transition: all 0.3s ease;
}

form button:hover {
  background: #2076d2;
  color: white;
  outline: 2=1px solid#2076d2;;
}

input:focus {
  outline: none;
}

label {
  font-size: 18px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 16px;
  top: 20px;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

input:focus ~ label,
input:valid ~ label {
  top: 4px;
  font-size: 1.2em;
  color: #2076d2;
}

.bar {
  position: relative;
  display:block;
  width:100%;
}

.bar:before,
.bar:after {
  content: '';
  height: 2px;
  width: 0;
  bottom: 1px;
  position: absolute;
  background: #2C99ED;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

.bar:before {
  left: 50%;
}

.bar:after {
  right: 50%;
}

input:focus ~ .bar:before,
input:focus ~ .bar:after {
  width: 50%;
}

.sign-up-container footer {
  font-size: 1.4em;
  color: #9B9B9B;
  text-align: center;
  line-height: 1.8;
}

.sign-up-container footer a {
  color: #fff;
}

body > footer {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  bottom: 0;
  font-size: 1.4em;
  white-space: nowrap;
}

footer nav ul {
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
  letter-spacing: 1px;
}

footer nav ul li:not(:last-child) {
  margin: 0 20px;
}

footer nav ul li:last-child{
  margin: 0 0 0 20px;
}


@media (max-width: 1200px) { 
  .main-content {
    flex-direction: column;
  }

  .text-container {
    margin-bottom: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 80%;
  }

  .sign-up-container {
    width: 60%;
    align-items: center;
  }

  header nav ul {
    width: 50%;
  }

 }

@media (max-width: 992px) { 

  header nav ul {
    display: none;
  }

  .show {
    display: block;
    position: absolute;
    left: 0;
    top: 100px;
    background: rgba(0, 0, 0, 0.2);
    width: 100%;
  }

  header nav ul li {
    padding-left: 40px;
    margin: 8px;
  }

  body > footer {
    height: auto;
    /* position: relative; */
    bottom: -160px;
    margin-bottom: 24px;
  }

  .main-content {
    margin-bottom: 24px;
  }


  footer  nav {
    flex-direction: column-reverse;
  }

  footer nav ul {
    flex-direction: column;
    margin-bottom: 24px;
    text-align: center;
  }

  footer nav ul li {
    margin: 12px 0 !important;
  }
 }

@media (max-width: 768px) { 
  .text-container h1 {
    font-size: 5em;
  } 

  .main-content {
    margin-bottom: 80px;
  }
 }

@media (max-width: 576px) {

  .text-container h1 {
    font-size: 3.5em;
  } 

  .sign-up-container {
    width: 80%;
  }

  .sign-up-content {
    width: 100%;
  }

  form {
    min-width: 100%;
  }

  body > footer {
    bottom: -180px;
  }

 }
